
:root {
    --primary-color: #0e1e30;
    --secondary-color: #0f3029;
    --background-color: #061122;
    --text-color: #f5f7fa;
    --link-color: #58acff;
    --font-size: 16px;
    --content-padding: 0 calc((100% - 1440px) / 2);
}
body{
    margin: 0px;
    padding: 0%;
    font-family: 'Asap', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex:1; 
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  padding: var(--content-padding)
 0 calc((100% - 1440px) / 2)/*100% = gesamte Bildschirmbreite
                            1440px = gewünschte maximale Content‑Breite
                            (100% - 1440px) = der „überschüssige“ Platz
                            / 2 = auf beide Seiten gleich verteilen */
;
}
.head{
    background-color: var(--primary-color);
    padding: 20px;
    min-height: 50px;
    display: flex;
}
.head img {
    width: 280px;
    height: auto;
    margin-left: 20px;
}
h1{
    text-align: center;
    font-size: 48px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
}
.content img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.page-counter {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
    
}
footer img {
    width: 200px;
    height: 60px;
}
#footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee2e2;
    font-family: Arial, Helvetica, sans-serif;
}



#my-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.content img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden; 
}
.inner-dialog {
    width: 50%;
    height: auto;
    padding-top: 55px;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
        
 
}
.dialog-content  {
    position: fixed;
    inset: 0;
    display: flex;
   
     }
     #overlay { display: none; 
    } 

     #overlay.active {
        display: flex; 
        align-items: center;
        justify-content: center;
    }
.dialog-content img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
}
.close, .next-image, .prev-image {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 2.25em;
    cursor: pointer;
    
}
.close {
    position: absolute;
    top: 10px;
    align-self: flex-end;
    margin-top: 10px;
    padding: 0 8px;
    background-color: black;
    border-radius: 50%;
    
}
.next-image, .prev-image {
    margin: 10px;
    padding: 10px;
   
}               
.next-and-prev-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-top: 10px;

}
.arrow {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: 1px solid var(--background-color);
    border-radius: 50%;
}
.prev {
    transform: rotate(180deg);
}

@media (max-width: 1080px) {
    .inner-dialog {
        width: 50%;
        padding-top: 40px;
    }
     footer img{
        width: 40px;
        height: auto;
    }
}
@media (max-width: 786px) {
    main {
        padding: 20px;
        margin-top: 20px;
    }
    header img {
        width: 200px;
    }
    h1 {
        font-size: 2em;
    }
    .img-div img {
        width: 112px;
        height: 112px;
    }
    .inner-dialog {
        width: 70%;
        padding-top: 40px;
    }
}
@media (max-width: 590px) {
    .inner-dialog {
        width: 90%;
        height: auto;
        padding-top: 55px;
    }
    .close {
        font-size: 1.75em;
    }
    .arrow {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 402px) {
    .inner-dialog {
        padding-top: 40px;
    }
    .inner-dialog img {
        max-width: 100%;
        max-height: 75vh;
    }
    header img {
        width: 180px;
    }
    h1 {
        font-size: 1.5em;
    }
    .img-div img {
        max-width: 100px;
    }
    .dialog-content  {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
     }

   
}
